/*Imported Roboto font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100);

* {
	/*set background color*/
	background-color: black;
	/*Use Roboto throughout; only adjust boldness locally*/
	font-family: "Roboto", "Helvetica", sans-serif;
	color: white;
	/*adjust border sizing*/
	box-sizing: border-box;
	/*align text in center throughout*/
	text-align: center;
}
.player_alerts{
	margin: 50px auto 35px auto;
	background-color: black;
	color: gray;
	width: 300px;
	height: 1em;
	font-size: 3.5em;
}
#body-container{
	width: 50%;
	height: 50%;
	margin: 0 auto;
}
	/* 1 a  |  1 b |  1 c 
     2 a  |  2 b |  2 c 
	   3 a  |  3 b |  3 c */

/*Styling to create large letters*/
.box{
	font-size: 8.5em;
	text-align: center;
	/*dimensions*/
	width: 33%;
	height: 150px;
	/*float and display*/
	float: left;
	display: inline-block;
}
/*Styling to create the board's borders*/
.one.a {
	/*borders*/
	border-right: solid white 5px;
	border-bottom: solid white 5px;
}
.one.b {
	/*borders*/
	border-bottom: solid white 5px;
}
.one.c {
	/*borders*/
	border-left: solid white 5px;
	border-bottom: solid white 5px;
}
.two.a {
	/*borders*/
	border-right: solid white 5px;
}
.two.b {
	/*no borders*/
}
.two.c {
	/*no borders*/
	border-left: solid white 5px;
}
.three.a {
	/*borders*/
	border-right: solid white 5px;
	border-top: solid white 5px;
}
.three.b {
	/*no borders*/
	border-top: solid white 5px;
}
.three.c {
	/*borders*/
	border-left: solid white 5px;
	border-top: solid white 5px;
}
